<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Status Tracker</title>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
</head>
<body>
    <h1>Task Status Tracker</h1>
    <button onclick="startTask(20)">Start Task</button>
    <p id="status">Task Status: Not started</p>

    <script>
        const socket = io("/socket.io");
        
        document.addEventListener("DOMContentLoaded", () => {
        const storedTaskId = localStorage.getItem("task_id");
            if (storedTaskId !== undefined) {
                startTrackingTask(storedTaskId);
            }
        });

        async function startTask(duration) {
            try {
                const response = await fetch('http://127.0.0.1:8000/start-task/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ duration: duration })
                });
        
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
        
                const data = await response.json();
                console.log('Task started, ID:', data.task_id);
                localStorage.setItem("task_id",  data.task_id);
                startTrackingTask( data.task_id);
            } catch (error) {
                console.error('Error:', error);
            }
        }

        function startTrackingTask(taskId) {
            console.log('track_task triggered with ',taskId)
            socket.emit("track_task", taskId);
        }

        socket.on("task_status", (data) => {
            document.getElementById("status").textContent = `Task Status: ${data.state}`;
            if (data.state === "COMPLETED") {
                document.getElementById("status").textContent += ` - Result: ${data.result.result}`;
                localStorage.removeItem("task_id"); // Remove task ID from local storage when completed
            }
        });

        socket.on("connect", () => {
            console.log("WebSocket connected");
        });

        socket.on("disconnect", () => {
            console.log("WebSocket disconnected");
        });
    </script>
</body>
</html>